<footer>
<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h3 class="section-title">Focus</h3>
                <p>we are providing good service to our customer. we are providing services like photography, videography and editing. he have skilled photographers for wedding and modelling photoshoot. So don't wait contact us soon </p>
            </div>
            
            <div class="col-md-3">              
                <h3 class="section-title">Our Services</h3>
                <ul>                   
                    <li><a href="{% url 'videos' %}">Videos</a></li>
                    <li><a href="{% url 'gallery' %}">Photography</a></li>
                    <li><a href="{% url 'contact' %}">FAQ / Contact</a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <h3 class="section-title">Photography</h3>
                <ul class="float">
                    <li><a href="{% url 'modelling' %}">modelling</a></li>
                    <li><a href="{% url 'wildlife' %}">wildlife</a></li>
                    <li><a href="{% url 'wedding' %}">Wedding</a></li>
                    <li><a href="{% url 'products' %}">Products</a></li>
                    <li><a href="{% url 'events' %}">Events</a></li>
                </ul>
            </div>
            <div class="col-md-2">
                    <h3 class="section-title">Contact our members</h3>
                        <ul class="float">
                            <li><a href="#">Architecture</a></li>
                            <li><a href="#">Wallpaper Car</a></li>
                            <li><a href="#">Business</a></li>
                            <li><a href="#">Lanscape</a></li>
                            <li><a href="#">Environment</a></li>
                            <li><a href="#">Climate</a></li>
                    </ul>
            </div>
            <div class="col-md-1">
                <h3 class="section-title">Information</h3>
                <ul>
                    <!--<li><a href="#">Terms &amp; Condition</a></li>
                    <li><a href="#">License</a></li>
                    <li><a href="#">Privacy &amp; Policy</a></li>-->
                    <li><a href="{% url 'contact' %}">Contact Us</a></li>
                </ul>
            </div>
        </div>
        <div class="row copy-right">
            <div class="col-md-6 col-md-offset-3 text-center">
                <p class="fh5co-social-icon">
                    <a href="#"><i class="icon-twitter2"></i></a>
                    <a href="#"><i class="icon-facebook2"></i></a>
                    <a href="#"><i class="icon-instagram"></i></a>
                    <a href="#"><i class="icon-youtube"></i></a>
                </p>
                <p>we are providing a good service to our the customers with love and care. Make your moments happy with<a href="{% url 'contact'%}"> smile studios</a> contact now</p>
            </div>
        </div>
    </div>
</div>
</footer>
